body{
padding:0px;
border:0px;
}
h1{
text-transform:uppercase;
width:100%
color:blue;
padding:30px;
background-color:red;
}
#id1{
margin-top:40px;
border:350px solid black;
height:40px;
width:20%;
margin-left:200px;
border-radius:50%;
background-color:black;
}
#id2{
	border:200px solid green;
	border-radius:50%;
	border-left:50%;
	border-right:50%;

}